<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Facturación</title>
     <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/resources/css/font-awesome.css}" rel="stylesheet"/>
    <link th:href="@{/resources/css/spring-base-project.css}" rel="stylesheet"/>    
  </head>
  <body class="background-bg">
<div class="container">
    <div class="row">   
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title" th:text="#{formBilling.billingInformation}"></h1>
            <div class="account-wall">
                <img class="profile-img" src="https://image.flaticon.com/icons/svg/272/272378.svg" alt="">
                <form th:action="@{/facturacion}" method="post" th:object="${facturation}" class="form-signin">
                
                <label for="namef" th:text="#{formBilling.name}"></label>: <br />
                <input type="text" th:field="*{namef}" class="form-control" placeholder="Nombre/Razón Social" required autofocus>
                
                <label for="niff" th:text="#{formBilling.cif}"></label>: <br />
                <input type="text" id="niff" name="niff" th:field="*{niff}" class="form-control" placeholder="NIF/CIF" required>
                
                <label for="emailf" th:text="#{formBilling.name}"></label>: <br />
                <input type="email" id="emailf" name="emailf" th:field="*{emailf}" class="form-control" placeholder="Email" required>
                                
                <label for="addressf" th:text="#{formBilling.addressf}">></label>
                <input type="text" id="address" name="address" th:field="*{addressf}" class="form-control" required>
                 <input type="hidden" th:field="*{id}">
                <br>
                <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{formBilling.submitbtn}">
</button>          
                </form>   
                
                     
            </div>
            <a href="home" class="text-center new-account" th:text="#{formBilling.Back}"></a>
        </div>
    </div>
</div>
  <script th:src="@{/resources/js/jquery.min.js}"></script>
<script th:src="@{/resources/js/bootstrap.min.js}"></script>
<script th:src="@{/resources/js/spring-base-project.js}"></script>
  </body>
</html>