<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title th:text="#{formRegister.info}"></title>
<link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/resources/css/font-awesome.css}" rel="stylesheet" />
<link th:href="@{/resources/css/spring-base-project.css}" rel="stylesheet" />
</head>
<body class="background-bg">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-4 col-md-offset-4">

				<h1 class="text-center login-title" th:text="#{formRegister.info}"></h1>
				<div class="account-wall">
					<img class="profile-img"
						src="https://image.flaticon.com/icons/svg/149/149071.svg" alt="">

					<form th:action="@{/info}" method="post" th:object="${userData}"
						class="form-signin">

						<label for="name" th:text="#{formRegister.name}"></label>: <br />
						<input type="text" th:field="*{name}" class="form-control"
							th:placeholder="#{formRegister.name}" required>
						<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
							class="error">Error</p>

						<label for="surname" th:text="#{formRegister.surname}">></label>: <br />
						<input type="text" th:field="*{surname}" class="form-control"
							th:placeholder="#{formRegister.surname}" required>
						<p th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"
							class="error">Error</p>
							
						<label for="username"
							th:text="#{formRegister.email}"></label>: <br />
						<input type="email" id="email" name="email" class="form-control"
							th:placeholder="#{formRegister.email}">
						<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
							class="error">Error</p>

						<label for="genre" th:text="#{formRegister.sex}"></label> <select
							th:field="*{genre}" class="form-control">
							<option value="0" th:text="#{formRegister.optionMale}"></option>
							<option value="1" th:text="#{formRegister.optionFemale}"></option>
						</select>
						<p th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}"
							class="error">Error</p>

						<label for="birthDate" th:text="#{formRegister.birthday}"></label>:
						<br /> <input type="date" th:field="*{birthDate}" class="form-control" required>
						<p th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}" class="error">Error</p>

						<label for="telephone" th:text="#{formRegister.phone}"></label>: <br />
						<select th:field="*{idTelephone}" class="form-control">
							<option value="34" th:text="#{formBilling.country.SpainC}"></option>
							<option value="33" th:text="#{formBilling.country.FrenchC}"></option>
							<option value="39" th:text="#{formBilling.country.ItalyC}"></option>
							<option value="46" th:text="#{formBilling.country.SwedenC}"></option>
							<option value="32" th:text="#{formBilling.country.BelgiumC}"></option>
							<option value="45" th:text="#{formBilling.country.DenmarkC}"></option>
							<option value="7" th:text="#{formBilling.country.RussiaC}"></option>
							<option value="49" th:text="#{formBilling.country.GermanyC}"></option>
							<option value="351" th:text="#{formBilling.country.PortugalC}"></option>
							<option value="48" th:text="#{formBilling.country.PolandC}"></option>
						</select> <input type="text" th:field="*{telephone}" class="form-control"
							required>
						<p th:if="${#fields.hasErrors('idTelephone')}"
							th:errors="*{idTelephone}" class="error">Error</p>

						<label for="address" th:text="#{formRegister.address}"></label>
						<input type="text" th:field="*{address}" class="form-control" th:placeholder="#{formRegister.address}" required>
						<p th:if="${#fields.hasErrors('address')}" th:errors="*{address}"
							class="error">Error</p>

						<label for="country" th:text="#{formRegister.country}">País</label>
						<select id="country" class="form-control">
							<option value="Spain" th:text="#{formBilling.country.Spain}"></option>
							<option value="France" th:text="#{formBilling.country.French}"></option>
							<option value="Italy" th:text="#{formBilling.country.Italy}"></option>
							<option value="Sweden" th:text="#{formBilling.country.Sweden}"></option>
							<option value="Belgium" th:text="#{formBilling.country.Belgium}"></option>
							<option value="Denmark" th:text="#{formBilling.country.Denmark}"></option>
							<option value="Russia" th:text="#{formBilling.country.Russia}"></option>
							<option value="Germany" th:text="#{formBilling.country.Germany}"></option>
							<option value="Portugal" th:text="#{formBilling.country.Portugal}"></option>
							<option value="Poland" th:text="#{formBilling.country.Poland}"></option>
							
							</select>
							
						<label for="cp" th:text="#{formRegister.postalCode}"></label>
						<input type="text" th:field="*{cp}" class="form-control" th:placeholder="#{formRegister.postalCode}" required>
						<p th:if="${#fields.hasErrors('cp')}" th:errors="*{cp}"
							class="error">Error</p>

						<label for="city" th:text="#{formRegister.location}"></label> <input
							type="text" th:field="*{city}" class="form-control" th:placeholder="#{formRegister.location}" required>
						<p th:if="${#fields.hasErrors('city')}" th:errors="*{city}"
							class="error">Error</p>

						<label for="nif" th:text="#{formRegister.nif}">NIF</label>
						<input type="text" th:field="*{nif}" class="form-control" th:placeholder="#{formRegister.nif}" required>
						<p th:if="${#fields.hasErrors('nif')}" th:errors="*{nif}"
							class="error">Error</p>
						<br>


						<button class="btn btn-lg btn-primary btn-block" type="submit"
							th:text="#{formRegister.save}">Guardar</button>
					</form>


				</div>
				<a href="#" class="text-center new-account"
					th:text="#{formRegister.changePassword}"></a>

			</div>
		</div>
	</div>

	<script th:src="@{/resources/js/jquery.min.js}"></script>
	<script th:src="@{/resources/js/bootstrap.min.js}"></script>
	<script th:src="@{/resources/js/spring-base-project.js}"></script>
</body>
</html>