<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Registrar</title>
<link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/resources/css/font-awesome.css}" rel="stylesheet" />
<link th:href="@{/resources/css/spring-base-project.css}"
	rel="stylesheet" />


</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-4 col-md-offset-4">
				<h1 class="text-center login-title">Registro</h1>
				<div class="account-wall">
					<img class="profile-img"
						src="https://image.flaticon.com/icons/svg/226/226653.svg" alt="">
					<form th:action="@{/register}" method="post" th:object="${user}" class="form-signin">
						<label for="username">Correo</label>: <br /> 
						<input type="text" th:field="*{username}" class="form-control" placeholder="Email" required autofocus> 
						<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error">Error</p>
						<label for="password">Contraseña</label>: <br /> 
						<input type="password" th:field="*{password}" class="form-control" placeholder="Contraseña" required>
						<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error">Texto de prueba</p>
						<button class="btn btn-lg btn-primary btn-block" type="submit">Registrar</button>
					</form>
				</div>
				<a href="login.html" class="text-center new-account">Iniciar Sesión </a>
			</div>
		</div>
	</div>

	<script th:src="@{/resources/js/jquery.min.js}"></script>
	<script th:src="@{/resources/js/bootstrap.min.js}"></script>
	<script th:src="@{/resources/js/spring-base-project.js}"></script>
</body>
</html>