<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<title>5.1</title>
</head>
<body>
	<header layout:fragment="header">
		<div class="container">
			<div class="page-header">
				<h1 th:text="#{title.page.addCaravana}"></h1>
			</div>
		</div>
	</header>
	<div class="container" layout:fragment="content">
		<div class="row">
			<form action="#" th:action="@{/caravana/caravana}"
				th:object="${caravana}" method="post" class="form-horizontal">

				<div class="form-group" th:classappend=="${#fields.hasErrors('brand')} ? has-error">
					<label for="brand" class="col-sm-3 control-label">Marca<abbr
						class="required" title="required"> * </abbr></label>
					<div class="col-sm-4">
						<input type="text" th:field="*{brand}" class="form-control" />
					</div>
					<div class="col-sm-5">
						<p th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}"
							class="error">Name error</p>
					</div>
				</div>

				<div class="form-group" th:classappend=="${#fields.hasErrors('brand')} ? has-error">
					<label for="model" class="col-sm-3 control-label">Modelo<abbr
						class="required" title="required"> * </abbr></label>
					<div class="col-sm-4">
						<input type="text" th:field="*{model}" class="form-control" />
					</div>
					<div class="col-sm-5">
						<p th:if="${#fields.hasErrors('model')}" th:errors="*{model}"
							class="error">Name error</p>
					</div>
				</div>

				<div class="form-group" th:classappend=="${#fields.hasErrors('constructionYear')} ? has-error">
					<label for="constructionYear" class="col-sm-3 control-label">Año
						de construccion<abbr class="required" title="required"> * </abbr>
					</label>
					<div class="col-sm-4">
						<input type="text" th:field="*{constructionYear}"
							class="form-control" />
					</div>
					<div class="col-sm-5">
						<p th:if="${#fields.hasErrors('constructionYear')}"
							th:errors="*{constructionYear}" class="error">Name error</p>
					</div>
				</div>

				<div class="form-group" th:classappend=="${#fields.hasErrors('plate')} ? has-error">
					<label for="plate" class="col-sm-3 control-label">plate <abbr
						class="required" title="required"> * </abbr>
					</label>
					<div class="col-sm-4">
						<input type="text" th:field="*{plate}" class="form-control" />
					</div>
					<div class="col-sm-5">
						<p th:if="${#fields.hasErrors('plate')}" th:errors="*{plate}"
							class="error">Name error</p>
					</div>
				</div>

				<div class="form-group">
					<label for="adults" class="col-sm-3 control-label">Adultos<abbr
						class="required" title="required"> * </abbr></label>
					<div class="col-sm-4">
						<select th:field="*{adults}" class="form-control">
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label for="kids" class="col-sm-3 control-label">Niños<abbr
						class="required" title="required"> * </abbr></label>
					<div class="col-sm-4">
						<select th:field="*{kids}" class="form-control">
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label for="babys" class="col-sm-3 control-label">Bebes<abbr
						class="required" title="required"> * </abbr>
					</label>
					<div class="col-sm-4">
						<select th:field="*{babys}" class="form-control">
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="cycle" class="col-sm-3 control-label">bicicletas<abbr
						class="required" title="required"> * </abbr></label>
					<div class="col-sm-4">
						<input type="checkbox" value="cycle" class="form-control" />
					</div>

				</div>
				<div class="form-group">
					<label for="umbrella" class="col-sm-3 control-label">Parasol<abbr
						class="required" title="required"> * </abbr></label>
					<div class="col-sm-4">
						<input type="checkbox" value="umbrella" class="form-control" />
					</div>

				</div>
				<div class="form-group">
					<label for="hammock" class="col-sm-3 control-label">hamacas<abbr
						class="required" title="required"> * </abbr></label>
					<div class="col-sm-4">
						<input type="checkbox" value="hammock" class="form-control" />
					</div>

				</div>
				<div class="form-group">
					<label for="bbq" class="col-sm-3 control-label">Barbacoa<abbr
						class="required" title="required"> * </abbr></label>
					<div class="col-sm-4">
						<input type="checkbox" value="bbq" class="form-control" />
					</div>

				</div>
				<div class="form-group">
					<label for="towel" class="col-sm-3 control-label">Toalla<abbr
						class="required" title="required"> * </abbr></label>
					<div class="col-sm-4">
						<input type="checkbox" value="towel" class="form-control" />
					</div>

				</div>
				<div class="form-group">
					<label for="bedSheet" class="col-sm-3 control-label">Sabanas<abbr
						class="required" title="required"> * </abbr></label>
					<div class="col-sm-4">
						<input type="checkbox" value="bedSheet" class="form-control" />
					</div>

				</div>

				<div class="form-group col-sm-7 text-right">
					<button type="submit" class="btn btn-primary">
						<i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar
					</button>
				</div>
			</form>
</body>
</html>