<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<link th:href="@{/resources/css/form-elements.css}" rel="stylesheet" />
<link th:href="@{/resources/css/media-queries.css}" rel="stylesheet" />
<link th:href="@{/resources/css/style.css}" rel="stylesheet" />
</head>
<meta charset="UTF-8">
<title>5.1</title>
</head>
<body>
	<header layout:fragment="header">
		<div class="container">
			<div class="page-header">
				<h1 th:text="#{title.page.addCaravana}"></h1>
			</div>
		</div>
	</header>
	<div class="container" layout:fragment="content">
		<div class="msf-container">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 msf-form">
						<form action="#" th:action="@{/caravana/caravana}"
							th:object="${caravana}" method="post" class="form-inline">
							<fieldset>
								<h4>
									¿Qué caravana tienes? <span class="step">(Step 1 / 6)</span>
								</h4>
								<div class="form-group" th:classappend=="${#fields.hasErrors('brand')} ? has-error">
									<label for="brand" class="col-sm-3 control-label">Marca<abbr
										class="required" title="required"> * </abbr></label>
									<div class="col-sm-4">
										<input type="text" th:field="*{brand}" class="form-control" />
									</div>
									<div class="col-sm-5">
										<p th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}"
											class="error">Name error</p>
									</div>
								</div>

								<div class="form-group" th:classappend=="${#fields.hasErrors('brand')} ? has-error">
									<label for="model" class="col-sm-3 control-label">Modelo<abbr
										class="required" title="required"> * </abbr></label>
									<div class="col-sm-4">
										<input type="text" th:field="*{model}" class="form-control" />
									</div>
									<div class="col-sm-5">
										<p th:if="${#fields.hasErrors('model')}" th:errors="*{model}"
											class="error">Name error</p>
									</div>
								</div>

								<div class="form-group" th:classappend=="${#fields.hasErrors('constructionYear')} ? has-error">
									<label for="constructionYear" class="col-sm-3 control-label">Año
										de construccion<abbr class="required" title="required">
											* </abbr>
									</label>
									<div class="col-sm-4">
										<input type="text" th:field="*{constructionYear}"
											class="form-control" />
									</div>
									<div class="col-sm-5">
										<p th:if="${#fields.hasErrors('constructionYear')}"
											th:errors="*{constructionYear}" class="error">Name error</p>
									</div>
								</div>
								<br>
								<button type="button" class="btn btn-next">
									Next <i class="fa fa-angle-right"></i>
								</button>
							</fieldset>
							
							<!--5.6++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
							<fieldset>
								<h4>
									¿Cuántas personas se pueden alojar? <span class="step">(Step
										2 / 6)</span>
								</h4>

								<div class="form-group" th:classappend=="${#fields.hasErrors('plate')} ? has-error">
									<label for="plate" class="col-sm-3 control-label">plate
										<abbr class="required" title="required"> * </abbr>
									</label>
									<div class="col-sm-4">
										<input type="text" th:field="*{plate}" class="form-control" />
									</div>
									<div class="col-sm-5">
										<p th:if="${#fields.hasErrors('plate')}" th:errors="*{plate}"
											class="error">Name error</p>
									</div>
								</div>

								<div class="form-group">
									<label for="adults" class="col-sm-3 control-label">Adultos<abbr
										class="required" title="required"> * </abbr></label>
									<div class="col-sm-4">
										<select th:field="*{adults}" class="form-control">
											<option value="0">0</option>
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
											<option value="6">6</option>
											<option value="7">7</option>
											<option value="8">8</option>
											<option value="9">9</option>
										</select>
									</div>
								</div>

								<div class="form-group">
									<label for="kids" class="col-sm-3 control-label">Niños<abbr
										class="required" title="required"> * </abbr></label>
									<div class="col-sm-4">
										<select th:field="*{kids}" class="form-control">
											<option value="0">0</option>
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
											<option value="6">6</option>
											<option value="7">7</option>
											<option value="8">8</option>
											<option value="9">9</option>
										</select>
									</div>
								</div>

								<div class="form-group">
									<label for="babys" class="col-sm-3 control-label">Bebes<abbr
										class="required" title="required"> * </abbr>
									</label>
									<div class="col-sm-4">
										<select th:field="*{babys}" class="form-control">
											<option value="0">0</option>
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
											<option value="6">6</option>
											<option value="7">7</option>
											<option value="8">8</option>
											<option value="9">9</option>
										</select>
									</div>
								</div>
								<br>
								<button type="button" class="btn btn-previous">
									<i class="fa fa-angle-left"></i> Previous
								</button>
								<button type="button" class="btn btn-next">
									Next <i class="fa fa-angle-right"></i>
								</button>
							</fieldset>
							<!--5.3++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
							<fieldset>
								<h4>
									¿Qué tiene tu caravana? <span class="step">(Step 3 / 6)</span>
								</h4>

								<!--5.3relleno*******************-->


								<button type="button" class="btn btn-previous">
									<i class="fa fa-angle-left"></i> Previous
								</button>
								<button type="button" class="btn btn-next">
									Next <i class="fa fa-angle-right"></i>
								</button>
							</fieldset>

							<!--5.4++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
							<fieldset>
								<h4>
									¿Qué servicios ofreces? <span class="step">(Step 4 / 6)</span>
								</h4>

								<!--5.4relleno*******************-->


								<button type="button" class="btn btn-previous">
									<i class="fa fa-angle-left"></i> Previous
								</button>
								<button type="button" class="btn btn-next">
									Next <i class="fa fa-angle-right"></i>
								</button>
							</fieldset>

							<!--5.5++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
							<fieldset>
								<h4>
									Estas son las normas de mi caravana <span class="step">(Step
										5 / 6)</span>
								</h4>

								<!--5.5relleno*******************-->


								<button type="button" class="btn btn-previous">
									<i class="fa fa-angle-left"></i> Previous
								</button>
								<button type="button" class="btn btn-next">
									Next <i class="fa fa-angle-right"></i>
								</button>
							</fieldset>
							
							<!--5.6++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
							<fieldset>
								<h4>
									Danos información de quien llevara tu caravana <span class="step">(Step
										6 / 6)</span>
								</h4>

								<!--5.6relleno*******************-->


								<button type="button" class="btn btn-previous">
									<i class="fa fa-angle-left"></i> Previous
								</button>
								<button type="submit" class="btn btn-primary">
									<i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar
								</button>
							</fieldset>








							<div class="form-group col-sm-7 text-right">
								
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>