<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title th:text="#{FormHello.title}"></title>
</head>
<body>
	<header layout:fragment="header">
	  	<div class="container">
			<div class="page-header">
	    		<h1 th:text="#{FormHello.title}"></h1>
	    		<div sec:authorize="isAuthenticated()">
	    			<p><a th:text="#{FormHello.LoggerUser}"></a>: <span sec:authentication="name"></span></p>
	    		</div>
	    		<div sec:authorize="isAnonymous()">
	    			<p><a th:text="#{FormHello.FormHello.NoUserLogged}"></a>!</p>
	    		</div>
	    	</div>
	    </div>
	</header>
	<div class="container" layout:fragment="content">
		Public Content
	</div>
</body>
</html>