<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Login page</title>
  </head>
  <body>
    <h1>Login page</h1>
    <p th:if="${loginError}" class="error">Wrong user or password</p>
    <form th:action="@{/login}" method="post">
      <label for="username">Username</label>:
      <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
      <label for="password">Password</label>:
      <input type="password" id="password" name="password" /> <br />
      <input type="submit" value="Log in" />
    </form>
    <form th:action="@{/signin/facebook}" method="POST">
    	<input type="hidden" name="scope" value="public_profile" />
    	<input type="submit" value="Login using Facebook"/>
	</form>
	<form th:action="@{/signin/google}" method="POST">
	    <button type="submit" class="btn btn-large btn-primary">Sign in with Google</button>
	    <input type="hidden" name="scope" value="email https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/plus.me" />
	</form>
  </body>
</html>