<!DOCTYPE html>
<html lang="es">
<head>
  <title>Registro Completado</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    
    <div style="width: 100px; margin: 0 auto;">
        <img src="https://image.flaticon.com/icons/svg/226/226653.svg">
    </div>
 
  <div class="alert alert-success" style="text-align:center">
    <strong th:text="#{formRegistrationBoth.complete}"></strong> <h3 th:text="#{formRegistrationBoth.emailSend}"></h3>
  </div>
   
</div>
    
    
    
 <div style="text-align:center">   
     <p><a th:text="#{formRegistrationBoth.redirect}"></a><span id="count">10</span><a th:text="#{formRegistrationBoth.seconds}"></a>...</p>

     <script type="text/javascript">

         window.onload = function(){

(function(){
  var counter = 10;

  setInterval(function() {
    counter--;
    if (counter >= 0) {
      span = document.getElementById("count");
      span.innerHTML = counter;
    }
    // Display 'counter' wherever you want to display it.
    

  }, 1000);

})();

}

     </script>
</div>

<meta http-equiv="refresh" content="10;url=hello.html" /> <!---- CAMBIAR AQUÍ LA REDIRECCIÓN --->
</body>
</html>
