<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"	layout:decorate="~{layouts/default}"	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<title>Traslado</title>
</head>
<body>


<h1>Quien llevara tu caravana?</h1>
 <select id="whoTrans" th:field="*{whoTrans}">
<option value="mySelf" th:text="#{mySelf}"></option>
<option value="myParking" th:text="#{myParking}" ></option>
<option value="traveler" th:text="#{traveler}"></option>
<option value="serviceTrans" th:text="#{serviceTrans}" ></option>
</select>


</body>
</html>