<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"	layout:decorate="~{layouts/default}"	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<title>Traslado</title>
</head>
<body>
<h1>informacion sobre quien llevara tu caravana</h1>

<div class="form-group" >
<label for="name" class="col-sm-3 control-label" th:text="#{name}"> <abbr class="required" title="required"> * </abbr></label>
<div class="col-sm-4">
<input type="text" th:field="*{name}" class="form-control" />
</div>
</div>
<div class="form-group" >
<label for="name" class="col-sm-3 control-label" th:text="#{direction}"> <abbr class="required" title="required"> * </abbr></label>
<div class="col-sm-4">
<input type="text" th:field="*{direction}" class="form-control" />
</div>
</div>
<div class="form-group" >
<label for="name" class="col-sm-3 control-label" th:text="#{phone}"> <abbr class="required" title="required"> * </abbr></label>
<div class="col-sm-4">
<input type="text" th:field="*{phone}" class="form-control" />
</div>
</div>
<div class="form-group" >
<label for="name" class="col-sm-3 control-label" th:text="#{email}"> <abbr class="required" title="required"> * </abbr></label>
<div class="col-sm-4">
<input type="text" th:field="*{email}" class="form-control" />
</div>
</div>
<div class="form-group" >
<label for="name" class="col-sm-3 control-label" th:text="#{personContact}"> <abbr class="required" title="required"> * </abbr></label>
<div class="col-sm-4">
<input type="text" th:field="*{personContact}" class="form-control" />
</div>
</div>

</body>
</html>