<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<link th:href="@{/resources/css/form-elements.css}" rel="stylesheet" />
<link th:href="@{/resources/css/media-queries.css}" rel="stylesheet" />
<link th:href="@{/resources/css/style.css}" rel="stylesheet" />
<link th:href="@{/resources/css/colorbox.css}" rel="stylesheet" />
</head>
<meta charset="UTF-8">
<title th:text="#{caravan.management}"></title>
</head>
<body>
	<div class="container" layout:fragment="content">
		<div class="msf-container">
			<div class="container">

				<div class="row">
					<div class="col-sm-12 msf-form">
						<form action="#" th:action="@{/caravana/add}"
							th:object="${caravana}" method="post" class="form-horizontal">
							<fieldset>
								<h4 th:text="#{register.caravan}">
									<span class="step" th:text="#{step.1}"> </span>
								</h4>
								<div class="form-group" th:classappend=="${#fields.hasErrors('brand')} ? has-error">
									<label for="brand" th:text="#{brand}"> <abbr
										class="required" title="required"> * </abbr></label> <input
										type="text" th:field="*{brand}" class="form-control" />


									<p th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}"
										class="error">Name error</p>

								</div>

								<div class="form-group" th:classappend=="${#fields.hasErrors('brand')} ? has-error">
									<label for="model" th:text="#{model}"> <abbr
										class="required" title="required"> * </abbr></label> <input
										type="text" th:field="*{model}" class="form-control" />


									<p th:if="${#fields.hasErrors('model')}" th:errors="*{model}"
										class="error">Name error</p>
								</div>


								<div class="form-group" th:classappend=="${#fields.hasErrors('constructionYear')} ? has-error">
									<label for="constructionYear" th:text="#{constructionYear}">
										<abbr class="required" title="required"> * </abbr>
									</label> <input type="text" th:field="*{constructionYear}"
										class="form-control" />


									<p th:if="${#fields.hasErrors('constructionYear')}"
										th:errors="*{constructionYear}" class="error">Name error</p>

								</div>

								<br>
								<button type="button" class="btn btn-next" th:utext="#{next}">
									<i class="fa fa-angle-right"></i>
								</button>
							</fieldset>

							<!--5.2++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
							<fieldset>
								<h4 th:text="#{select.guests}">
									<span class="step" th:text="#{step.2}"> </span>
								</h4>

								<div class="form-group">
									<label for="adults" th:text="#{adults}"> <abbr
										class="required" title="required"> * </abbr></label> <select
										th:field="*{adults}" class="form-control">

										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
										<option value="9">9</option>
									</select>
								</div>

								<div class="form-group">
									<label for="kids" th:text="#{kids}"> <abbr
										class="required" title="required"> * </abbr></label> <select
										th:field="*{kids}" class="form-control">
										<option value="0">0</option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
										<option value="9">9</option>
									</select>
								</div>

								<div class="form-group">
									<label for="babys" th:text="#{babies}"> <abbr
										class="required" title="required"> * </abbr>
									</label> <select th:field="*{babys}" class="form-control">
										<option value="0">0</option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
										<option value="9">9</option>
									</select>
								</div>
								<br>
								<button type="button" class="btn btn-previous"
									th:utext="#{previous}">
									<i class="fa fa-angle-left"></i>
								</button>
								<button type="button" class="btn btn-next" th:utext="#{next}">
									<i class="fa fa-angle-right"></i>
								</button>
							</fieldset>
							<!--5.3++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
							<fieldset>
								<h4 th:text="#{select.charact.caravan}">
									<span class="step" th:text="#{step.3}"> </span>
								</h4>

								<div class="checkboxes-1">
									<a th:text="#{beds}"> </a> <label class="checkbox-inline">
										<input type="checkbox" name="checkboxes-1-options"
										value="checkboxes-1-option-1"
										th:field="*{characteristic.beds}">
									</label> <a th:text="#{kitchen}"></a> <label class="checkbox-inline">
										<input type="checkbox" name="checkboxes-1-options"
										value="checkboxes-1-option-2"
										th:field="*{characteristic.kitchen}">
									</label> <a th:text="#{living}"></a> <label class="checkbox-inline">
										<input type="checkbox" name="checkboxes-1-options"
										value="checkboxes-1-option-3"
										th:field="*{characteristic.living}">
									</label> <a th:text="#{bath}"></a> <label class="checkbox-inline">
										<input type="checkbox" name="checkboxes-1-options"
										value="checkboxes-1-option-4"
										th:field="*{characteristic.bath}">
									</label> <a th:text="#{awning}"></a> <label class="checkbox-inline">
										<input type="checkbox" name="checkboxes-1-options"
										value="checkboxes-1-option-5"
										th:field="*{characteristic.awning}">

									</label> <a th:text="#{oven}"></a> <label class="checkbox-inline">
										<input type="checkbox" name="checkboxes-1-options"
										value="checkboxes-1-option-6"
										th:field="*{characteristic.oven}">
									</label> <a th:text="#{terraceChairs}"></a> <label
										class="checkbox-inline"> <input type="checkbox"
										name="checkboxes-1-options" value="checkboxes-1-option-7"
										th:field="*{characteristic.terraceChairs}">
									</label> <a th:text="#{shower}"></a> <label class="checkbox-inline">
										<input type="checkbox" name="checkboxes-1-options"
										value="checkboxes-1-option-8"
										th:field="*{characteristic.shower}">
									</label> <a th:text="#{crockery}"></a> <label class="checkbox-inline">
										<input type="checkbox" name="checkboxes-1-options"
										value="checkboxes-1-option-9"
										th:field="*{characteristic.crockery}">
									</label> <a th:text="#{skilletsCasseroles}"></a> <label
										class="checkbox-inline"> <input type="checkbox"
										name="checkboxes-1-options" value="checkboxes-1-option-10"
										th:field="*{characteristic.skilletsCasseroles}">
									</label> <a th:text="#{cutlery}"></a> <label class="checkbox-inline">
										<input type="checkbox" name="checkboxes-1-options"
										value="checkboxes-1-option-11"
										th:field="*{characteristic.cutlery}">
									</label>

								</div>
								<div class="checkboxes-2">
									<a th:text="#{terracetable}"></a> <label
										class="checkbox-inline"> <input type="checkbox"
										name="checkboxes-2-options" value="checkboxes-2-option-1"
										th:field="*{characteristic.terraceTable}">
									</label> <a th:text="#{a.c}"></a> <label class="checkbox-inline">
										<input type="checkbox" name="checkboxes-2-options"
										value="checkboxes-2-option-2"
										th:field="*{characteristic.climatize}">
									</label> <a th:text="#{tv}"></a> <label class="checkbox-inline">
										<input type="checkbox" name="checkboxes-2-options"
										value="checkboxes-2-option-3" th:field="*{characteristic.tv}">
									</label> <a th:text="#{fridge}"></a> <label class="checkbox-inline">
										<input type="checkbox" name="checkboxes-2-options"
										value="checkboxes-2-option-4"
										th:field="*{characteristic.fridge}">
									</label> <a th:text="#{closet}"></a> <label class="checkbox-inline">
										<input type="checkbox" name="checkboxes-2-options"
										value="checkboxes-2-option-5"
										th:field="*{characteristic.closer}">

									</label> <a th:text="#{others}"></a> <label class="checkbox-inline">
										<input type="text" th:field="*{characteristic.others}">
								</div>

								<br>

								<button type="button" class="btn btn-previous"
									th:utext="#{previous}">
									<i class="fa fa-angle-left"></i>
								</button>
								<button type="button" class="btn btn-next" th:utext="#{next}">
									<i class="fa fa-angle-right"></i>
								</button>
							</fieldset>

							<!--5.4++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
							<fieldset>
								<h4 th:text="#{select.extras}">
									<span class="step" th:text="#{step.4}"> </span>
								</h4>

								<a th:text="#{bike}"></a> <label class="checkbox-inline">
									<input type="checkbox" th:field="*{service.cycle}">
								</label> <a th:text="#{sun_umbrella}"></a> <label
									class="checkbox-inline"> <input type="checkbox"
									th:field="*{service.umbrella}">
								</label> <a th:text="#{hammock}"></a> <label class="checkbox-inline">
									<input type="checkbox" th:field="*{service.hammock}">
								</label> <a th:text="#{bbq}"></a> <label class="checkbox-inline">
									<input type="checkbox" th:field="*{service.bbq}">
								</label> <a th:text="#{towel}"></a> <label class="checkbox-inline">
									<input type="checkbox" th:field="*{service.towels}">
								</label> <a th:text="#{bed_sheet}"></a> <label class="checkbox-inline">
									<input type="checkbox" th:field="*{service.bedSheets}">

								</label> <a th:text="#{bed_sheet}"></a> <label class="checkbox-inline">
									<input type="checkbox" th:field="*{service.toaster}">
								</label><a th:text="#{toaster}"></a> <label class="checkbox-inline">
									<input type="checkbox" th:field="*{service.microwave}">
								</label><a th:text="#{microwave}"></a> <label class="checkbox-inline">
									<input type="checkbox" th:field="*{service.bedSheets}">
								</label><a th:text="#{mixer}"></a> <label class="checkbox-inline">
									<input type="checkbox" th:field="*{service.mixer}">
								</label><a th:text="#{pillows}"></a> <label class="checkbox-inline">
									<input type="checkbox" th:field="*{service.pillows}">
								</label><a th:text="#{other.extras}"></a> <label class="checkbox-inline">
									<input type="text" th:field="*{service.other}">

								</label> <br>

								<button type="button" class="btn btn-previous"
									th:utext="#{previous}">
									<i class="fa fa-angle-left"></i>
								</button>
								<button type="button" class="btn btn-next" th:utext="#{next}">
									<i class="fa fa-angle-right"></i>
								</button>
							</fieldset>

							<!--5.5++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
							<fieldset>
								<h4 th:text="#{caravan.rules}">
									<span class="step" th:text="#{step.5}"> </span>
								</h4>

								<a th:text="#{kids}"></a> <label class="checkbox-inline">
									<input type="checkbox" th:field="*{rule.kids}">
								</label> <a th:text="#{pets}"></a> <label class="checkbox-inline">

									<input type="checkbox" th:field="*{rule.pets}">

								</label> <a th:text="#{smoke}"></a> <label class="checkbox-inline">
									<input type="checkbox" th:field="*{rule.smoke}">

								</label> <a th:text="#{party}"></a> <label class="checkbox-inline">
									<input type="checkbox" th:field="*{rule.party}">

								</label> <a th:text="#{other.rules}"></a> <label class="checkbox-inline">
									<input type="text" th:field="*{rule.other}">


								</label> <br>

								<button type="button" class="btn btn-previous"
									th:utext="#{previous}">
									<i class="fa fa-angle-left"></i>
								</button>
								<button type="button" class="btn btn-next" th:utext="#{next}">
									<i class="fa fa-angle-right"></i>
								</button>
							</fieldset>

							<!--5.6++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
							<fieldset>
								<h4 th:text="#{describe.caravan}">
									<span class="step" th:text="#{step.6}"> </span>
								</h4>

								<br>

								<div class="form-group" th:classappend=="${#fields.hasErrors('name')} ? has-error">
									<label for="name" th:text="#{caravan_nickname}"> <abbr
										class="required" title="required"> * </abbr>
									</label> <input type="text" th:field="*{name}" class="form-control" />
								</div>

								<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
									class="error">Name error</p>

								<div class="form-group" th:classappend=="${#fields.hasErrors('description')} ? has-error">

									<label for="why-join" th:text="#{description}"> </label><br>
									<textarea name="why-join" class="why-join form-control"
										th:field="*{description}" id="why-join"></textarea>
								</div>

								<br>

								<button type="button" class="btn btn-previous"
									th:utext="#{previous}">
									<i class="fa fa-angle-left"></i>
								</button>
								<button type="button" class="btn btn-next" th:utext="#{next}">
									<i class="fa fa-angle-right"></i>
								</button>
							</fieldset>

							<!-- 5.8&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& -->
							<fieldset>
								<h4 th:text="#{insurance.title1}">
									<span class="step" th:text="#{step.8}"> </span>
								</h4>
								<div class="form-group">
									<input id='r1' type='radio' value="0" th:field="*{insurance}"
										th:text="#{no}" /> <br /> <br> <input id='r2'
										type='radio' value="1" th:field="*{insurance}"
										th:text="#{yes}" /> <br /> <br>

								</div>
								<div id='d1' style='display: none'>
									<p>
									<div class="form-group">
										<h4 th:text="#{insurance.title2}"></h4>
										<input type='radio' value="0" th:field="*{insuranceOffer}"
											th:text="#{no}" /> <br /> <br> <input type='radio'
											value="1" th:field="*{insuranceOffer}" th:text="#{yes}" /> <br />
										<br>

									</div>
									</p>
									<br>
								</div>
								<br>

								<button type="button" class="btn btn-previous"
									th:utext="#{previous}">
									<i class="fa fa-angle-left"></i>
								</button>
								<button type="button" class="btn btn-next" th:utext="#{next}">
									<i class="fa fa-angle-right"></i>
								</button>
							</fieldset>


							<!-- 5.9&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& -->
							<fieldset>
								<div class="form-group">
									<h4 th:text="#{move.caravan}"></h4>
									<select name="whoTrans" id="whoTrans" class="form-control">
										<option id="mySelf" value="mySelf" th:text="#{mySelf}"></option>
										<option id="myParking" value="myParking"
											th:text="#{myParking}"></option>
										<option id="traveler" value="traveler" th:text="#{traveler}"></option>
										<option id="serviceTrans" value="serviceTrans"
											th:text="#{serviceTrans}"></option>
									</select>


									<div id="row_dim" class="form-group" th:classappend=="${#fields.hasErrors('infTransName')} ? has-error">

										<div>

											<label for="infTransName" th:text="#{infTransName}">
											</label> <input type="text" th:field="*{infTransName}" />
											<p th:if="${#fields.hasErrors('infTransName')}"
												th:errors="*{infTransName}" class="error">infTransName
												error</p>
										</div>


										<div>
											<label for="infTransAdress" th:text="#{infTransAdress}">
											</label> <input type="text" th:field="*{infTransAdress}" />
											<p th:if="${#fields.hasErrors('infTransAdress')}"
												th:errors="*{infTransAdress}" class="error">infTransAdress
												error</p>

										</div>


										<div>
											<label for="infTransTelephone" th:text="#{infTransTelephone}">
											</label> <input type="text" th:field="*{infTransTelephone}" />
											<p th:if="${#fields.hasErrors('infTransTelephone')}"
												th:errors="*{infTransTelephone}" class="error">infTransTelephone
												error</p>
										</div>

										<div>
											<label for="infTransEmail" th:text="#{infTransEmail}">
											</label> <input type="text" th:field="*{infTransEmail}" />
											<p th:if="${#fields.hasErrors('infTransEmail')}"
												th:errors="*{infTransEmail}" class="error">infTransEmail
												error</p>
										</div>
										<div>
											<label for="infTransContact" th:text="#{infTransContact}">
											</label> <input type="text" th:field="*{infTransContact}" />
											<p th:if="${#fields.hasErrors('infTransContact')}"
												th:errors="*{infTransContact}" class="error">infTransContact
												error</p>

										</div>

									</div>

								</div>

								<br>
								<button type="button" class="btn btn-previous"
									th:utext="#{previous}">
									<i class="fa fa-angle-left"></i>
								</button>
								<button type="button" class="btn btn-next" th:utext="#{next}">
									<i class="fa fa-angle-right"></i>
								</button>

							</fieldset>
							<!--5.7 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->

							<fieldset>
								<div class="form-group">
									<h4 th:text="#{select.destination.camping}"></h4> <br> <select class="form-control"
										th:field="*{idCamping}">
										<option th:each="camping:${campings}" th:value="${camping.id}">
											<p th:text=${camping.name}></p>
										</option>
									</select>
								</div>
								<button type="button" class="btn btn-previous"
									th:utext="#{previous}">
									<i class="fa fa-angle-left"></i>
								</button>
								<button type="button" class="btn btn-next" th:utext="#{next}">
									<i class="fa fa-angle-right"></i>
								</button>
							</fieldset>


							<!--5.9 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->




							<!--6.2++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
							<fieldset>
								<h4 th:text="#{select.booking}">
									<span class="step" th:text="#{step.8}"> </span>
								</h4>

								<div class="form-group" th:classappend=="${#fields.hasErrors('reservAdvanceTime')} ? has-error">
									<label for="reservAdvanceTime" class="col-sm-3 control-label"
										th:text="#{reservAdvanceTime}"> <abbr class="required"
										title="required"> * </abbr>
									</label> <input type="text" th:field="*{reservAdvanceTime}"
										class="form-control" />

									<p th:if="${#fields.hasErrors('reservAdvanceTime')}"
										th:errors="*{reservAdvanceTime}" class="error">Name error</p>
								</div>
								<div class="form-group">
									<select th:field="*{reservAdvanceDate}" class="form-control">
										<option value="Dias">Día/s</option>
										<option value="Semanas">Semana/s</option>
										<option value="Meses">Mes/es</option>
									</select>
									
									<h4 th:text="#{tip}"></h4>
									<h4 th:text="#{tip.select.booking}"></h4>
				
								</div>


								<br> <br>
							<!--6.1++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
                            <h4 th:text="#{show.recommendation}"></h4>
                           
                            <h4 th:text="#{tip}"></h4>
							<h4 th:text="#{tip.recommendation}"></h4>
                             <!--Button ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
								<button type="button" class="btn btn-previous"
									th:utext="#{previous}">
									<i class="fa fa-angle-left"></i>
								</button>
								<button type="submit" class="btn btn-primary"
									th:utext="#{t.save}">

									<i class="fa fa-floppy-o" aria-hidden="true"></i>

								</button>


							</fieldset>

						</form>
					</div>
				</div>
			</div>
		</div>
</body>
</html>