<!DOCTYPE html>
<html>
<script th:src="@{/resources/js/jquery.min.js}"></script>
<head>
<meta charset="UTF-8">
<title>Traslado</title>


</head>
<body>


	<h1>Quien llevara tu caravana?</h1>
	<select name="whoTrans" id="whoTrans" class="form-control">
		<option id="mySelf" value="mySelf" th:text="#{mySelf}"></option>
		<option id="myParking" value="myParking" th:text="#{myParking}"></option>
		<option id="traveler" value="traveler" th:text="#{traveler}"></option>
		<option id="serviceTrans" value="serviceTrans"
			th:text="#{serviceTrans}"></option>
	</select>


	<div id="row_dim">
<form action="#" th:action="@{/caravana/add}" th:object="${caravana}" method="post">
		<div>
			
			<label for="infTransName" th:text="#{infTransName}"> </label> <input
				type="text" th:field="*{infTransName}" />
		</div>


		<div>
			<label for="infTransAdress" th:text="#{infTransAdress}"> </label> <input
				type="text" th:field="*{infTransAdress}" />
		</div>


		<div>
			<label for="infTransTelephone" th:text="#{infTransTelephone}">
			</label> <input type="text" th:field="*{infTransTelephone}" />
		</div>

		<div>
			<label for="infTransEmail" th:text="#{infTransEmail}"> </label> <input
				type="text" th:field="*{infTransEmail}" />

		</div>
		<div>
			<label for="infTransContact" th:text="#{infTransContact}"> </label> <input
				type="text" th:field="*{infTransContact}" />
		</div>
		</form>
	</div>


	<script>
$(function() {
    $('#row_dim').hide(); 
    $('#whoTrans').change(function(){
        if(($('#whoTrans').val() == 'myParking') || ($('#whoTrans').val() == 'serviceTrans')){
            $('#row_dim').show(); 
        } else {
            $('#row_dim').hide(); 
        } 
    });

});
</script>

</body>
</html>